@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto+Mono:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Catamaran:wght@400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "arial", heletica, sans-serif;
  font-size: 12px;
  background: #2980b9 url("https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png") repeat 0 0;
  -webkit-animation: 10s linear 0s normal none infinite animate;
  animation: 10s linear 0s normal none infinite animate;
}

@-webkit-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}
@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}
.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: 40rem;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 40px 0 0 0;
  background-color: #fff;
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card:hover .card__image {
  filter: blur(2px);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: 80px 0 0 0;
  background-color: #fff;
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: rgb(255, 255, 255);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

.card__status {
  font-size: 0.8em;
  color: #d7bdca;
}

.c_img {
  padding: 10px;
}

.c_text {
  padding: 10px;
}

.c_img1 {
  width: 50px;
}

.c-img {
  width: 7rem;
  height: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 150px;
}

.c-card {
  box-shadow: rgba(97, 97, 185, 0.2) 0px 7px 29px 0px;
}

.c-cont {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.c-cont p {
  font-family: "Roboto Mono", monospace;
}
.c-cont h1 {
  font-size: 1.2em;
  font-weight: bold;
}
.c-cont h2 {
  font-family: "Fasthand", cursive;
}

.c-top img {
  height: 22rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-bottom {
  font-family: "Catamaran", sans-serif;
}
.c-bottom h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.c-bottom h3 {
  font-size: 1.1rem;
  padding: 0.3rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: rgb(157, 233, 252);
}

.c-mns h1 {
  color: white;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
}
.c-mns .c-hr {
  border-bottom: 3px solid white;
  width: 5rem;
}

@media only screen and (max-width: 375px) {
  .c-img {
    width: 6rem;
    height: 6rem;
  }
  .c-top img {
    height: 15rem;
  }
}/*# sourceMappingURL=style.css.map */